[submodule "builder/frameworks/libopencm3"]
	path = builder/frameworks/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "examples"]
	path = /examples/
	url = https://github.com/1Bitsy/1bitsy-examples
